name: Build & Deploy Next.js App

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Build Next.js
        run: npm run build

      # Upload only what server needs
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: next-build
          path: |
            .next
            package.json
            next.config.*
            public
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      # Download artifact directly into workspace root
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: next-build
          path: ./

      # Upload files to server in correct structure
      - name: Upload build to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: |
            .next
            package.json
            public
            next.config.*
          target: "/var/www/cd-ci"

      # SSH deploy on server
      - name: Deploy on server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/cd-ci

            # Install only production deps
            npm install --production

            # Zero-downtime reload if app exists, otherwise start
            pm2 reload cd-ci-app || pm2 start npm --name "cd-ci-app" -- run start

            # Optional: restart Nginx if needed
            sudo systemctl restart nginx
